extends base

block header
    if user
        .user
            p.email Usuari loguejat: #{user.email}
            a(href='/logout') LOGOUT
    else
        .user
            p.email user no loguejat
            a(href='/login') LOGIN
    .top
        h1 BLOG
        .newpost
            a(href='/posts/news') Nuevo Post


    
block content
    section.radars
        each radar in radars
            article.post
                .container
                    h2.post-title
                        a(href='/radars/#{radar.id}')= radar.velMax
                    p.summary= radar.descripcio
                    aside.metadata
                        | Por
                        a(href='#') &nbsp;Default User
                        span.sep &nbsp; | &nbsp;
                        | 0 visitas
